{% extends '././base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>
    <section class="formulaire">
        {{ form(form) }}
    </section>
{% endblock %}