$light-blue : #74b3d6;
$deep-blue : #177dab;

$black: #1b0f18;

img{
  width:100%;
  height:100%;
  display:block;
}

.container{
  max-width: 1700px;
}

/* Header */
#header {
  padding-top: 1rem;
  position: absolute;
  width: 100%;

  .navbar {
    display: inline-block;
    float: right;
  }

  #navbarColor03, .bg-light, .nav-tabs .nav-link.active, .nav-link:hover, .nav-link:active, .nav-link:focus {
    background-color: transparent !important;
    color: white;
    border-color: white;
  }
  .nav-tabs{
    border: none;
  }

  a{
    color: white;
  }
}

#footer {
  padding-top: 1rem;
  background-color: #4b4c4c;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
}
