@import "base.scss";

hr {
  border-color: $dark;
}

h1, h2{
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: $dark;
}

.row {
  margin-right: 1rem;
  margin-left: 1rem;
}

.box{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.625rem;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  p {
    color: $dark;
  }
}

#trick{
  padding-top: 1rem;

  .picture-container{
    position: relative;
    padding: unset;
  }

  #edit, #delete{
    position: absolute;
    z-index: 2;
    top: 0;
    height: 2rem;
    padding: 1.3rem;
    i{
      color: white;
      font-size: 2rem;
      opacity: 0.8;
      transition: all 200ms;
    }
    i:hover{
      opacity: 1;
      font-size: 2.2rem;
      transform: scale(1.05, 1.05);
    }
  }

  #edit{
    right: 3rem;
  }

  #delete{
    right: 0;
  }

  h1{
    text-align: center;
    color: $dark;
  }

  .card-img-top{
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 100%;
  }

  #img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a img{
      max-height: 250px;
    }
  }

  //Carrousels
  #carrousel-block{
    padding-bottom: 3rem;
  }

  div.carousel-item > iframe, div.carousel-item > img{
    width: 100%;
    height: 22rem;
    display: block;
  }

  .carousel-inner{
    border-radius: 0.625rem;
  }

  //Content
  #content{
    font-size: 1.3rem;
    text-indent: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .metadata{
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

#add-comment{
  background-color: lightgray;
  text-align: center;
  p{
    margin-bottom: 0;
    font-weight: normal;
  }
  a{
    font-weight: bolder;
    text-decoration: none;
  }
}

#comments{
  .user-picture{
    width: 85px;
    height: 85px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .row{
    padding-bottom: 1rem;
  }
}
