<h1>Bienvenue dans la communauté de SnowTricks {{ user.username }} !</h1>
<p>Merci d'avoir créé un compte chez SnowTricks. <br> Afin de finaliser votre inscription, merci de cliquer sur le lien ci-dessous:</p>
<p><a href="http://127.0.0.1:8000/registration/{{ token.value }}">Cliquez-ici</a></p>