{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h2>Mot de passe oublié</h2>
    <section class="formulaire">
        {{ form(form) }}
    </section>
{% endblock %}