{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

    <section class="header">
        <h2>Tremplin aux acrobates</h2>
    </section>
    
    <section class="tricks">
        {% for trick in tricks %}
            <article>
                <h3>{{ trick.name }}</h3>
                <img src="http://placehold.it/350x150" alt="">
                <button type="button" class="btn btn-info"><a href="{{ path('trick', {id:trick.id}) }}">Lire le trick</a></button>
            </article>
        {% endfor %}
    </section>
{% endblock %}