{% extends 'bundles/TwigBundle/Exception/baseError.html.twig' %}

{% block body %}
    <h1>Oups</h1>

    <p>
        Aucune poudreuse à exploité ici! Pour retourner à l'accueil <a href="{{ path('home') }}">c'est par là !</a>.
    </p>
{% endblock %}